@charset "utf-8";
* {
    box-sizing: border-box;
}
html,body {
    margin: 0;
    font: 16px sans-serif;
}
body{
    background-color: #eeeff1;
}
input,select,button,textarea {
    font: inherit;
    outline: none;
}
select,button,a {
    cursor: pointer;
}

.main ul{
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 100%;
    list-style: none;
}
.main ul li{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.main ul li a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main ul li a img,.main ul li a div{
    vertical-align: middle;
    margin-top: 15px;
    margin-left: 10px;
}
.main ul li a img{
    margin-left: 10px;
    float: left;
    width: 70px;
}
.main ul li a div{
    display: inline-block;
    float: left;
    font-size: 16px;
    width: 200px;
}
.main ul li a div p{
    margin: 0;
    width: 100%;
}
.main ul li a div p:nth-child(1){
    color: #11a8bb;
}
.main ul li a div p:nth-child(2){
    color: #11a8bb;
    font-size: 16px;
}
.main ul li a div p:nth-child(3){
    font-size: 12px;
    color: #1e1e1e;
}
.main ul li a .right{
    margin-right: 10px;
    margin-top: 40px;
    width: 10px;
    float: right;
}

.main .personal{
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 100%;
    list-style: none;
}
.main .personal li{
    height: 50px;
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
}
.main .personal li a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #000;
}
.main .personal li a img,.main .personal li a span{
    vertical-align: middle;
    float: left;
}
.main .personal li a img:first-child{
    margin-right: 10px;
    width: 20px;
}
.main .personal li a img:last-child{
    margin-top: 15px;
    float: right;
    margin-right: 10px;
    width: 10px;
}

.main .blue{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    background-color: #11a8bb;
}
.main .blue li{
    height: 50px;
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
}
.main .blue li a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
}
.main .blue li a img,.main .blue li a span{
    vertical-align: middle;
    float: left;
}
.main .blue li a img:first-child{

    margin-right: 10px;
    width: 20px;
}
.main .blue li a img:last-child{
    margin-top: 15px;
    float: right;
    margin-right: 10px;
    width: 10px;
}

.main .list{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    background-color: #fff;
}
.main .list li{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.main .list li span:first-child{
    margin-left: 40px;
    float: left;
    line-height: 50px;
    color: #666666;
}
.main .list li button:last-child{
    margin-top: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    border:none;
    background-color: #f00;
    margin-right: 10px;
    float: right;
    color: #fff;
}
.main .list li button.blue1{
    background-color: #11a8bb;
}