@charset "utf-8";
* {
    box-sizing: border-box;
}
html,body {
    margin: 0;
    font: 16px sans-serif;
}
body{
    background-color: #eeeff1;
}
input,select,button,textarea {
    font: inherit;
    outline: none;
}
select,button,a {
    cursor: pointer;
}
.main .search{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.main .search input{
    margin: 20px 0;
    width: 96%;
    height: 35px;
    border-radius: 35px;
    border:none;
    background:url("../img/形状-10.png") no-repeat 20px center;
    background-color: #fff;
    text-indent: 50px;
    font-size: 14px;
}
.main ul{
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 100%;
    list-style: none;
}
.main ul li{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.main ul li a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main ul li a img,.main ul li a div{
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 10px;
}
.main ul li a img{
    margin-left: 10px;
    float: left;
    width: 60px;
}
.main ul li a div{
    display: inline-block;
    float: left;
    font-size: 14px;
    width: 190px;
}
.main ul li a div p{
    margin: 0;
    width: 100%;
}
.main ul li a div p:nth-child(1){
    color: #11a8bb;
}
.main ul li a div p:nth-child(2){
    color: #11a8bb;
    font-size: 14px;
}
.main ul li a div p:nth-child(3){
    font-size: 12px;
    color: #1e1e1e;
}
.main ul li a .right{
    margin-right: 10px;
    margin-top: 40px;
    width: 10px;
    float: right;
}
